<title>{{ site.title }}</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<!--[if lte IE 8]>
<script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.min.css"/>
<!--[if lte IE 9]>
<link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
<!--[if lte IE 8]>
<link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
<!-- Google Analytics -->

<!-- Favicons with Device icons -->
<link rel="shortcut icon" href="/assets/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">

  <!-- Twitter cards metadatas -->
   <meta name="twitter:card" content="summary">
   <meta name="twitter:site" content="@clickme_exe">
   <meta name="twitter:creator" content="@clickme_exe">
   {% if page.title %}
     <meta name="twitter:title" content="{{ page.title }}">
   {% else %}
     <meta name="twitter:title" content="{{ site.title }}">
   {% endif %}
   {% if page.url %}
     <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
   {% endif %}
   {% if page.description %}
     <meta name="twitter:description" content="{{ page.description }}">
   {% else %}
     <meta name="twitter:description" content="{{ site.description }}">
   {% endif %}
   {% if page.header-img %}
     <meta name="twitter:image:src" content="{{ site.url }}/{{ page.header-img }}">
{% endif %}

{% if site.google_analytics %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}
